.home-avatar {
  width: 250px;
  height: 250px;
  float: left;
  margin: 0.25rem 1rem 0.5rem 0;

  border-radius: 50%;
  border: 2px solid var(--color-border);
}

:root {
  --main-width: 1000px; 
  --main-padding: 1.6em;  
}

:root {
    --content-primary: rgb(36, 36, 36);
    --content-secondary: rgb(117, 117, 117);
    --background: rgb(255, 251, 218);
    --code-background: rgb(249, 249, 249);
    --code-border: rgb(229, 229, 229);
}

.dark {
    --content-primary: rgb(218, 218, 218);
    --content-secondary: rgb(140, 140, 140);
    --background: rgb(20, 20, 20);
    --code-background: rgb(30, 30, 30);
    --code-border: rgb(50, 50, 50);
}